run:
  name: qwen3_0_6b_base_grpo_dev

model:
  path: "/efs/rlvr-experiments/assets/hf/Qwen3-0.6B-Base"

tokenizer:
  pretrained_model_name_or_path: "Qwen/Qwen3-0.6B-Base"
  use_fast: false

training:
  max_steps: 50
  iterations_per_epoch: null  # null = run full epoch until data exhausted
  sync_reference_every: 5
  prompts_per_batch: 3  # number of prompts (will be multiplied by n completions)
  max_staleness: 1

verifier:
  num_workers: 2

loss:
  beta: 0.01
  eps: 0.2

data:
  dataset: dummy
  num_samples: 2048

data_iter:
  system_prompt: "Solve the following math problem and provide the final answer inside \\boxed{}"
  assistant_prefix: "Let's think step by step."

sampling:
  temperature: 0.6
  top_p: 0.95
  top_k: 20
  max_tokens: 512
  n: 16
  logprobs: 0


buffer:
  max_reads: 1

roles:
  - name: trainer
    kind: titan
    config:
      # our titan model takes this additional keyword.
      # if false then it doesn't create optimizers etc
      trainable: true

      profiling:
        enable_profiling: true
        save_traces_folder: "profile_trace"
        profile_freq: 100

      metrics:
        log_freq: 1
        enable_tensorboard: false
        save_tb_folder: "tb"

      # TODO: we should extract this from model local_path
      model:
        name: "qwen3"
        flavor: "0.6B"
        hf_assets_path: "/efs/rlvr-experiments/assets/hf/Qwen3-0.6B-Base"

      optimizer:
        name: "AdamW"
        lr: 0.00001
        eps: 0.0001

      lr_scheduler:
        warmup_steps: 30

      training:
        seq_len: 2048
        dtype: "bfloat16"
        mixed_precision_param: "bfloat16"
        mixed_precision_reduce: "float32"

      parallelism:
        data_parallel_replicate_degree: 1
        data_parallel_shard_degree: 1
        fsdp_reshard_after_forward: "default"
        tensor_parallel_degree: 1
        context_parallel_degree: 1
        # IMPORTANT: disable_loss_parallel must be true when computing custom losses
        # with TP>1, otherwise logits are sharded on vocab and cross_entropy is wrong
        # this is also what torchtitan does, I think.
        disable_loss_parallel: true

      checkpoint:
        enable: true
        folder: "checkpoint"
        initial_load_in_hf: true
        interval: 500
        last_save_model_only: false
        export_dtype: "bfloat16"
        async_mode: "disabled"

      activation_checkpoint:
        mode: selective
        selective_ac_option: "op"

      compile:
        enable: true
        components:
          - "model"


  - name: reference
    kind: titan
    config:
      trainable: false

      model:
        name: "qwen3"
        flavor: "0.6B"
        hf_assets_path: "/efs/rlvr-experiments/assets/hf/Qwen3-0.6B-Base"

      parallelism:
        data_parallel_replicate_degree: 1
        data_parallel_shard_degree: 1
        fsdp_reshard_after_forward: "default"
        tensor_parallel_degree: 1
        context_parallel_degree: 1

      training:
        seq_len: 2048
        dtype: "bfloat16"
        mixed_precision_param: "bfloat16"
        mixed_precision_reduce: "float32"

      checkpoint:
        enable: true
        folder: "checkpoint"
        initial_load_in_hf: true
        interval: 500
        last_save_model_only: false
        export_dtype: "bfloat16"
        async_mode: "disabled"

      activation_checkpoint:
        mode: none
        selective_ac_option: op

      compile:
        enable: true
        components:
          - "model"


  - name: rollout
    kind: vllm

    config:
      model: "/efs/rlvr-experiments/assets/hf/Qwen3-0.6B-Base"
      max_concurrent_per_replica: 8
      max_num_seqs: 100
      tensor_parallel_size: 1
      data_parallel_size: 1
      max_model_len: 1024
      gpu_memory_utilization: 0.90
      dtype: "bfloat16"
      logprobs_mode: "raw_logprobs"
      max_num_batched_tokens: 32768
      enable_prefix_caching: true
      enable_chunked_prefill: true



sync:
  chunk_mb: 100

  wiring:
    - src: trainer
      dst: reference
    - src: trainer
      dst: rollout
